<div class="parroquia">
  <div class="altar">
    <img src="images/parroquia/img-altar.jpg" alt="Parroquia de San Agustín de Hipona" />
  </div>
  <div class="contenido">
    <h1>PARROQUIA DE SAN AGUSTÍN DE HIPONA</h1>
    <h2>ALCALÁ DE GUADAÍRA (SEVILLA)</h2>
    <p>Es un templo construido en el siglo XX. El edificio, reflejo de la arquitectura rural andaluza, presenta
      reminiscencias camperas.</p>
    <p>Sus grandes dimensiones (uno de los mayores templos de la diócesis de Sevilla) dominan gran parte de la ciudad
      moderna y su vega.
      La Torre se concluye en el año 2004, cuando se finalizan las obras.</p>

    <p>Después de casi seis décadas, nuestra parroquia es una realidad consolidada, con salones bien equipados y un
      templo
      adaptado a las
      nuevas necesidades que acoge la feligresía.</p>
  </div>

  <div class="mapa">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.257564291495!2d-5.838678822863446!3d37.3364105372885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1264c7f1a218a3%3A0x5f03935830bff262!2sParroquia%20de%20San%20Agust%C3%ADn%20de%20Hipona!5e0!3m2!1ses!2ses!4v1728211006012!5m2!1ses!2ses"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</div>
