



<div class="p-grid titulares">
  <div class="p-col-12 p-md-4 content-left">
    <img src="images/titulares/img-cristo.jpg" alt="Imagen" class="image" />
  </div>

  <div class="vertical-divider"></div>

  <div class="p-col-12 p-md-8 contenido">
    <h2>Santísimo cristo de la bondad</h2>

    <p>
      La imagen del Santísimo Cristo de la Bondad es obra del escultor Gabriel Cuadrado Díaz, natural de Villanueva del Ariscal (Sevilla).
      Fue realizado en 1982 y bendecido el 13 de marzo de 1983.
    </p>

    <p>
      Es una imagen neobarroca de vestir, realizada en madera de ciprés y posee una altura de 170 cm.
      El Señor de la Bondad va montado a horcajadas en un asno y encaja a la perfección dentro del misterio que representa,
       la Entrada Triunfal en Jerusalén.
    </p>

    <p>
      El misterio representa los pasajes de Lc 19, 29-38, Mt 21, 1-11, Mc 11, 1-11, y Jn 12, 12-19.
      Exactamente Lc 19, 29-38, donde Cristo discute con un fariseo a causa del alboroto provocado.
      De ahí que la imagen posea expresión de seriedad y dialogante.
    </p>
  </div>
</div>




<div class="p-grid titulares">

  <div class="p-col-12 p-md-8 contenido">
    <h2>Nuestra Señora de la Oliva</h2>

    <p>
      La imagen de Nuestra Señora de la Oliva fue bendecida por el Rvdo. D. José Luis Portillo González,
       en la tarde del sábado 17 de marzo de 2001.Fue realizada por el imaginero doctor en Bellas Artes, Juan Manuel Miñaro López,
       entre agosto de 2000 y marzo de 2001 inspirándose en la primera dolorosa de la corporación, obra póstuma de Sebastián Santos.
    </p>

    <p>
      La Hermandad encargó la dolorosa con la idea de que recogiera los rasgos característicos de la primitiva dolorosa de Sebastián Santos
      que fue pasto de las llamas en el infortunado incendio de 1982. Aunque recoge rasgos generales, las características estilísticas de ésta,
      Miñarro supo impregnarla de personalidad propia.
    </p>

    <p>
      Es una obra neobarroca realizada en madera de cedro, posee un candelero ovalado estructurado en ocho listones y su altura es de 173 cm.
    </p>
  </div>
  <div class="vertical-divider"></div>

  <div class="p-col-12 p-md-4 content-left">
    <img src="images/titulares/img-virgen.jpg" alt="Imagen" class="image" />
  </div>
</div>

<div class="p-grid titulares">
  <div class="p-col-12 p-md-4 content-left">
    <img src="images/titulares/img-otros.jpg" alt="Imagen" class="image" />
  </div>

  <div class="vertical-divider"></div>

  <div class="p-col-12 p-md-8 contenido">
    <h2>Otras Imágenes</h2>

    <p>
      La Hermandad firmó junto con la hechura del Stmo. Cristo de la Bondad, un conjunto de imágenes que
      representara la escena de la Sagrada Entrada Triunfal en Jerusalén.
    </p>

    <p>
      Tras la primera salida del Señor, en solitario en 1984, se van incorporando las imágenes que completan el misterio:
      San Juan Evangelista, San Pedro y Santiago son los apóstoles que acompañan al Señor.<br>
      La talla más original de la escena la completa el fariseo.
    </p>

    <p>
      Un niño hebreo se añade a la escena en 1992, obra de Jesús Curquejo. Talla completa para vestir que aclama al Señor portando una ramita de Olivo.
    </p>
  </div>
</div>






