<div class="p-grid domingo">
  <div class="datos-interes">

    <table>
      <tr>
        <th colspan="2" style="color: var(--primary)">
          <h2>Datos de Interés</h2>
        </th>
      </tr>
      <tr>
        <td colspan="2">El <b>horario de salida</b> está comprendido entre las 16:30 horas <i>(Cruz de Guía)</i> y las
          00:30 horas <i>(Paso de Palio)</i>, con un amplio itinerario.</td>
      </tr>
      <tr>
        <th>Nazarenos</th>
        <td>430 (2024).</td>
      </tr>
      <tr>
        <th>Capataz General</th>
        <td>Iván Rivero Rodríguez.</td>
      </tr>
      <tr>
        <th>Costaleros</th>
        <td>50 en el paso del Señor, con dos cuadrillas completas; y 35 en el paso de la Virgen, también con dos
          cuadrillas completas.</td>
      </tr>
      <tr>
        <th>Acompañamiento musical</th>
        <td>Agrupación Musical Stmo. Cristo de la Bondad, en el paso del Señor; Banda Municipal de Aználcollar, en el
          paso de la Virgen.</td>
      </tr>
      <tr>
        <th>Estrenos</th>
        <td>
          <ul>
            <li>Dorado de las dos mitades delanteras del respiradero del paso de misterio.</li>
            <li>Relicario en plata que acogerá una reliquia del Beato Agustín Alcalá y Henke y que se podrá venerar en
              la peana de la Virgen de la Oliva.</li>
            <li>Tocado de encaje de punto de aguja para la Virgen.</li>
            <li>Restauración de la corona de la Virgen.</li>
            <li>Dorado de la rama de olivo de plata de ley que porta en la mano la Virgen.</li>
            <li>Pañuelo de punto de aguja.</li>
          </ul>
        </td>
      </tr>
    </table>

  </div>

  <div class="nazarenos">

    <div class="p-col-12 p-md-4 content-left">
      <img src="images/domingo/img-nazareno.jpg" alt="Nazareno" class="image" />
    </div>


    <div class="p-col-12 p-md-8 contenido">
      <h2>Hermanos Nazarenos</h2>

      <p>
        La imagen del Santísimo Cristo de la Bondad es obra del escultor Gabriel Cuadrado Díaz, natural de Villanueva
        del Ariscal (Sevilla).
        Fue realizado en 1982 y bendecido el 13 de marzo de 1983.
      </p>

      <p>
        Es una imagen neobarroca de vestir, realizada en madera de ciprés y posee una altura de 170 cm.
        El Señor de la Bondad va montado a horcajadas en un asno y encaja a la perfección dentro del misterio que
        representa,
        la Entrada Triunfal en Jerusalén.
      </p>

      <p>
        El misterio representa los pasajes de Lc 19, 29-38, Mt 21, 1-11, Mc 11, 1-11, y Jn 12, 12-19.
        Exactamente Lc 19, 29-38, donde Cristo discute con un fariseo a causa del alboroto provocado.
        De ahí que la imagen posea expresión de seriedad y dialogante.
      </p>
    </div>
  </div>

  <div class=" recorrido">
    <div class="content-left">
      <img src="images/domingo/img-recorrido.png" alt="Recorrido" class="image2" />
    </div>

    <div class="itinerario">


        <table>
          <tr>
          <th colspan="2" style="color: var(--primary)">
            <h2>Itinerario 2023</h2>
          </th>
        </tr>
          <tr>
            <td>16:30</td>
            <td>Salida</td>
          </tr>
          <tr>
            <td>16:55</td>
            <td>Sargento Vasallo</td>
          </tr>
          <tr>
            <td>17:05</td>
            <td>Antonio Mairena</td>
          </tr>
          <tr>
            <td>17:30</td>
            <td>Madueño de los Aires</td>
          </tr>
          <tr>
            <td>17:55</td>
            <td>Plazuela</td>
          </tr>
          <tr>
            <td>18:20</td>
            <td>Gutiérrez de Alba</td>
          </tr>
          <tr>
            <td>18:25</td>
            <td>Parroquia de San Sebastián</td>
          </tr>
          <tr>
            <td>18:55</td>
            <td>San Sebastián (Casa Hermandad Cautivo)</td>
          </tr>
          <tr>
            <td>19:10</td>
            <td>Santa Ana</td>
          </tr>
          <tr>
            <td>19:25</td>
            <td>Mairena</td>
          </tr>
          <tr>
            <td>20:00</td>
            <td>Capilla del Santo Entierro</td>
          </tr>
          <tr>
            <td>20:30</td>
            <td>Cruz del Inglés</td>
          </tr>
          <tr>
            <td>21:10</td>
            <td>Avenida Santa Lucía</td>
          </tr>
          <tr>
            <td>21:40</td>
            <td>Moguer</td>
          </tr>
          <tr>
            <td>21:55</td>
            <td>Valencia</td>
          </tr>
          <tr>
            <td>22:20</td>
            <td>Almería</td>
          </tr>
          <tr>
            <td>23:05</td>
            <td>Santander</td>
          </tr>
          <tr>
            <td>23:20</td>
            <td>Entrada</td>
          </tr>
        </table>
    </div>


  </div>

</div>
