<mat-card>
  <mat-card-content>
    <div class='calendar'>

      <div class='main'>
        <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
          <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
          </ng-template>
        </full-calendar>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions style="margin: auto;">
    <button mat-button color="primary" mat-button *ngIf="user?.role === Role.Admin || user?.role === Role.Comm"  (click)="onNewEvent()">
      <mat-icon>add</mat-icon>
      <span>Crear Evento</span>
    </button>
  </mat-card-actions>
</mat-card>

