


.container {
  margin-left: calc(100%/6);
  margin-right:  calc(100%/6);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: auto;
  min-height: calc(100% - 40px);

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.container-red {
  background-color: var(--primary-600);
}

.container-beige {
  background-color: var(--background-color);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

