<div class="footer">
  <div class="grid">
    <div class="col-4 ">
      <div class="text-center p-3">
        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center"><mat-icon>mail</mat-icon></div>
          <div class="flex align-items-center justify-content-center mt-2 gap-5 text-xl">
            <a href="mailto:borriquitaalcala@gmail.com">borriquitaalcala&#64;gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="text-center p-3">
        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center"><mat-icon>call</mat-icon></div>
          <div class="flex align-items-center justify-content-center mt-2 gap-5 text-xl">
            633 489 298
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="text-center p-3">
        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center"><mat-icon>location_on</mat-icon></div>
          <div class="flex align-items-center justify-content-center mt-2 text-xl">Calle Párroco José Luis Portillo, 1
          </div>
          <div class="flex align-items-center justify-content-center mt-2 text-l">Alcalá de Guadaira, Sevilla
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 m-0 p-0">
      <div class="text-center p-3">
        1961 – 2024 © Hermandad Sacramental de la Borriquita
      </div>
    </div>
  </div>
</div>
