<h1>
  Información
</h1>

<mat-divider></mat-divider>

<div class="p-5">
  <shared-lazy-image [url]="'images/logo-sm.png'" [alt]="'Hermandad Sacramental de la Borriquita'" [width]="'200px'"
    [height]="'200px'"></shared-lazy-image>

  <div class="title">
    <h2 class="title">
      Hermandad Sacramental y Cofradía de Nazarenos del Santísimo Cristo de la Bondad en su Entrada Triunfal en
      Jerusalén,
      Nuestra Señora de la Oliva y San Agustín de Hipona
    </h2>
    <h4 style="color: var(--primary-900);">Alcalá de Guadaira</h4>
  </div>

  <div class="text-container mt-5">
    <p>
      Se trata de una Hermandad fundada en 1961 con doble naturaleza, tanto una hermandad de penitencia como sacramental.
      Su sede canónica está en la <strong>Parroquia de San Agustín de Hipona</strong> y realiza su estación de
      penitencia el <strong>Domingo de Ramos</strong>.
    </p>

    <p>
      En el primer paso, el Cristo de la Bondad representa la entrada triunfal en Jerusalén, mientras que en el segundo
      paso, la Virgen de la Oliva procesiona bajo palio.
    </p>

  </div>

  <div class="container mt-5">
    <div class="card">
      <h3>Hermanos activos</h3>
      <p>1050</p>
    </div>
    <div class="card">
      <h3>Nuevos Hermanos 2024</h3>
      <p>60</p>
    </div>
    <div class="card">
      <h3>Años de antigüedad</h3>
      <p>{{ 2024 - 1961 }}</p>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <h3>Nazarenos 2024</h3>
      <p>430</p>
    </div>
    <div class="card">
      <h3>Cortejo 2024</h3>
      <p>955</p>
    </div>
  </div>

</div>
