.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-700);
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin: 0;
  font-size: 1.4em;
}

.card p {
  font-size: 1.4em;
}
