
<div style="width: 600px;">
  <h2 mat-dialog-title>
    <span *ngIf="!isEditMode">{{ event?.title }}</span>
  </h2>

  <mat-dialog-content>
    <div *ngIf="!isEditMode">
      <div *ngIf="!eventForm.value.allDay">
        <p>

          <strong>Inicio:</strong> {{ event?.startDate | date: 'dd/MM/yyyy HH:mm' }}
        </p>
        <p>
          <strong>Fin:</strong> {{ event?.endDate | date: 'dd/MM/yyyy HH:mm' }}
        </p>
      </div>
      <div *ngIf="eventForm.value.allDay">
        <p>

          <strong>Inicio:</strong> {{ event?.startDate | date: 'dd/MM/yyyy' }}
        </p>
        <p>
          <strong>Fin:</strong> {{ event?.endDate | date: 'dd/MM/yyyy' }}
        </p>
      </div>

      <p>
        <strong>Descripción:</strong> {{ event?.description }}
      </p>
      <p *ngIf="event?.location">
        <strong>Localización:</strong> {{ event?.location }}
      </p>
    </div>

    <form class="grid" [formGroup]="eventForm" *ngIf="isEditMode" (ngSubmit)="onSubmit()">
      <mat-form-field class="col-12">
        <mat-label>Título</mat-label>
        <input matInput type="text" required formControlName="title" />
        <mat-error *ngIf="eventForm.get('title')?.hasError('required')">El título es <strong>requerido</strong>.</mat-error>
        <mat-error *ngIf="eventForm.get('title')?.hasError('minlength')">El título es demasiado corto</mat-error>
      </mat-form-field>


      <mat-form-field class="col-12">
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Fecha de inicio">
          <input matEndDate formControlName="endDate" placeholder="Fecha de fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div class="col-12" style="display: flex; justify-content: center; align-items: center;">

        <mat-label class="text-2xl pr-5">¿Todo el día?</mat-label>
        <mat-slide-toggle formControlName="allDay"></mat-slide-toggle>

      </div>

      <form [formGroup]="hours" class="grid p-4" style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <mat-form-field class="col-6" *ngIf="!eventForm.value.allDay">
          <mat-label>Hora de inicio</mat-label>
          <input matInput type="time" formControlName="start" placeholder="hh:mm">
        </mat-form-field>

        <mat-form-field class="col-6" *ngIf="!eventForm.value.allDay">
          <mat-label>Hora de fin</mat-label>
          <input matInput type="time" formControlName="end" placeholder="hh:mm">
        </mat-form-field>
      </form>



      <mat-form-field class="col-12">
        <mat-label>Descripción</mat-label>
        <textarea matInput required rows="5" formControlName="description"></textarea>
        <mat-error *ngIf="eventForm.get('description')?.hasError('required')">La descripción es <strong>requerida</strong>.</mat-error>
        <mat-error *ngIf="eventForm.get('description')?.hasError('minlength')">La descripción es demasiado corta</mat-error>
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Localización</mat-label>
        <input matInput type="text" formControlName="location" />
      </mat-form-field>

      <mat-error *ngIf="serverErrors" class="server-error col-12">
        <span>{{ serverErrors }}</span>
      </mat-error>


    </form>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="flex justify-content-around" style="width: 100%;">
      <button mat-button mat-dialog-close color="primary">Cerrar</button>

      <button mat-button *ngIf="(!isEditMode) && (user?.role === Role.Admin || user?.role === Role.Comm)"  (click)="toggleEditMode()" mat-raised color="primary">
        <mat-icon>edit</mat-icon> Editar
      </button>
      <button mat-button type="submit" (click)="onSubmit()" *ngIf="(isEditMode) && (user?.role === Role.Admin || user?.role === Role.Comm)" mat-raised color="primary">
        <mat-icon>save</mat-icon> Guardar
      </button>
      <button mat-raised-button (click)="onDelete()"  *ngIf="(!isEditMode) && (user?.role === Role.Admin || user?.role === Role.Comm)" color="warn">
        <mat-icon>delete</mat-icon>
        Borrar
      </button>
    </div>
  </mat-dialog-actions>

</div>
