<h1>

  Contacto
</h1>

<mat-divider></mat-divider>
<section class="p-5 grid" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div class="grid col-12 justify-content-center py-5">

    <div class="col-4 mx-auto">
      <mat-card class="socialmedia">
        <mat-card-header>
          <mat-card-title class="text-center">
            <h1 class="text-2xl sm:text-3xl font-medium">Síguenos en Instagram</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="text-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/600px-Instagram_logo_2022.svg.png" alt="Facebook Logo" class="logo mx-auto my-4">
        </mat-card-content>

        <mat-card-actions>
          <div class="flex justify-content-center text-center accessButton p-2">
            <a mat-raised-button color="primary" href="https://www.instagram.com/hdadborriquita/" target="_blank" >
              hdadBorriquita
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-4 mx-auto">
      <mat-card class="socialmedia">
        <mat-card-header>
          <mat-card-title class="text-center">
            <h1 class="text-2xl sm:text-3xl font-medium mb-4">Síguenos en Facebook</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="text-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo" class="logo mx-auto my-4">
        </mat-card-content>

        <mat-card-actions>
          <div class="flex justify-content-center text-center accessButton p-2" >
            <a mat-raised-button color="primary" href="https://facebook.com/hermandad.borriquita" target="_blank">
              Hermandad Borriquita
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-4 mx-auto">
      <mat-card class="socialmedia">
        <mat-card-header>
          <mat-card-title class="text-center">
            <h1 class="text-2xl sm:text-3xl font-medium mb-4">Síguenos en X</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="text-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/X_logo_2023.svg/300px-X_logo_2023.svg.png" alt="X Logo" class="logo mx-auto my-4">
        </mat-card-content>

        <mat-card-actions>
          <div class="flex justify-content-center text-center accessButton p-2">
            <a mat-raised-button color="primary" href="https://x.com/HdadBorriquita" target="_blank">
              &#64;HdadBorriquita
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>




  </div>
  <div class="grid col-12 justify-content-center py-5">
    <div class="col-12 mx-auto">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-center">
            <h1 class="text-2xl sm:text-3xl font-medium mb-4">Contáctanos</h1>
          </mat-card-title>
          <mat-card-subtitle class="text-center">
            <p class="text-base">Envíanos la duda que desees y en el menor tiempo la respondemos.</p>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="contactForm" class="p-fluid">
            <div class="grid formgrid">
              <div class="col-12 md:col-6 p-2">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" placeholder="Enter your name">
                </mat-form-field>
              </div>
              <div class="col-12 md:col-6 p-2">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Enter your email" type="email">
                </mat-form-field>
              </div>
              <div class="col-12 p-2">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Message</mat-label>
                  <textarea matInput formControlName="message" placeholder="Enter your message" rows="5"></textarea>
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>

        <mat-card-actions>
          <div class="flex justify-content-center text-center accessButton p-2" >
            <button mat-raised-button color="primary" href="https://facebook.com/hermandad.borriquita" target="_blank">
              Enviar
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
